.aboutContainer {
    width: calc(100vw - 3px);
    background-color: rgb(255, 255, 45);
    color: rgb(45, 63, 118);
    position: relative;
    top: 63px;
    left: calc((100vw - 100%)/2*(-1) - 3px);
    padding: 2.5em 0;
}

.aboutTitle {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 0.4em;
}

.aboutAvatar {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    margin-left: 6em;
}

.aboutText {
    line-height: 1.6;
}

.aboutInner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 575.98px) {
    .aboutInner {
        max-width: 540px;
        margin: auto;
        padding: 0;
    }
}

@media (min-width: 767.98px) {
    .aboutInner {
        max-width: 720px;
    }
}

@media (min-width: 991.98px) {
    .aboutInner {
        max-width: 960px;
    }
}

@media (min-width: 1199.98px) {
    .aboutInner {
        max-width: 1140px;
    }
}