.aboutContainer {
    width: calc(100vw - 3px);
    background-color: rgba(255, 255, 45, 0.95);
    color: rgb(45, 63, 118);
    position: relative;
    top: 63px;
    left: calc((100vw - 100%)/2*(-1) - 3px);
    padding: 3.5em 0;
}

.aboutTitle {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 0.6em;
}

.aboutAvatar {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    margin-left: 6em;
}

.aboutText {
    margin-top: -10px;
    line-height: 1.6;
}

.aboutInner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 320px) {
    .aboutInner {
        max-width: 300px;
        margin: auto;
        padding: 0;
        /* flex-direction: column;     */
    }
    /* .aboutContainer {
        width: calc(100vw + 9px);
    } */
}

@media (min-width: 375px) {
    .aboutInner {
        max-width: 340px;
        margin: auto;
        padding: 0;
        /* flex-direction: column;     */
    }
}

@media (min-width: 425px) {
    .aboutInner {
        max-width: 400px;
        margin: auto;
        padding: 0;
        /* flex-direction: column;     */
    }
    .aboutContainer {
        width: calc(100vw - 3px);
    }
}

@media (min-width: 575.98px) {
    .aboutInner {
        max-width: 540px;
        margin: auto;
        padding: 0;
        /* flex-direction: column; */
    }
    .aboutAvatar {
        margin-left: 0;
        margin-top: 2em;
        align-self: center;
    }
}

/* @media (min-width: 319px) {
    .aboutContainer {
        width: calc(100vw + 27px);
    }
} */

@media (max-width: 768px) {
    .aboutInner {
        flex-direction: column;    
    }
    .aboutAvatar {
        margin-left: 0;
        margin-top: 2em;
        align-self: center;
    }
}

@media (min-width: 992px) {
    .aboutAvatar {
        margin-left: 6em;
        margin-top: 0;
    }
}

@media (min-width: 767.98px) {
    .aboutInner {
        max-width: 720px;
    }
}

@media (min-width: 991.98px) {
    .aboutInner {
        max-width: 960px;
    }
}

@media (min-width: 1199.98px) {
    .aboutInner {
        max-width: 1140px;
    }
}